.qodo
# administrator/account/config.php  ###line 3 to 4
# define('API_URL', 'https://console.twilio.com/us1/account/keys-credentials/api-keys/SKe01ded1b8315535be764bced8addebec'); 
# define('API_KEY', 'SKe01ded1b8315535be764bced8addebec'); 